@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using RedisConsoleDesktop.Models

@model InstanceSettingsViewModel
<div class="row">
    <div class="k-content" id="editContainer">
        <div id="validation-success"></div>

        @(Html.Kendo().Form<InstanceSettingsViewModel>()
        .Name("instanceForm")
        .HtmlAttributes(new { action = "Items", method = "POST" } )
          .HtmlAttributes(new { style = "width:100%;" })
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(true));
        })
        .Items(items =>
        {
            items.AddGroup()
                .Label("Redis Instance Settings")
                .Items(i =>
                {
                    i.Add()
                         .Field(f => f.Name)
                         .Label(l => l.Text("Name").Optional(false));
                    i.Add()
                         .Field(f => f.Host)
                         .Label(l => l.Text("Host"));
                    i.Add()
                        .Field(f => f.Port)
                        .Label(l => l.Text("Port"))
                        .Editor(e =>
                        {
                            e.NumericTextBox<int>().Decimals(0).Format("{0:0}");
                        });
                    i.Add()
                        .Field(f => f.Auth)
                        .Label(l => l.Text("Auth").Optional(true));
                });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
    )
    </div>

</div>




<script>
    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        e.preventDefault();
        $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
    }

    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>