@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="main-content container-fluid">
    @await Html.PartialAsync("~/Views/Instance/_InstanceDetails.cshtml")
</div>
